@import "daisyui/dist/full.css";
@unocss all;

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* i {
    margin: 4px;
} */

:root {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin-right: calc(100% - 100vw);
    padding: 17px;
}